*
    margin 0
    padding 0

body
  font: 14px 'Microsoft Yahei'
  // 背景图片
  // style文件在的相对路径, 相对于当前的reset.styl这个文件
  background-image: url('~images/bg6.avif')
  // 背景图片位置固定
  background-attachment: fixed
  // 背景不要重复
  background-repeat: no-repeat
  // 背景位置居中
  background-position: center center
  // 背景覆盖整个viewport
  background-size: cover
  // 当背景没有加载时的颜色
  background-color: #fff